/**
*   General CSS (for the whole application)
**/
body {
  font-family: Helvetica, Montserrat, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 14px;

}

.App {
  min-height: 100vh;
}

.container-padding {
  padding: 10px 5px;
}

h1,h2,h3,h4,h5 {
  font-family: Helvetica, Montserrat, Arial, sans-serif;
}

#login-buttons {
  display: block;
  color: #eee;
}

/**
*   APP COLORS:
***/
.grey-dark { background-color: #343a40; }
.grey-dark-text { color: #343a40; }
.super-dark { background-color: #21252C; }
.super-dark-text { color: #21252C; }
.dark { background-color: #2B2D3E; }
.dark-text { color: #2B2D3E; }

.red{background-color:#FD6585;}
.red-text{color:#FD6585;}
.red-gradient{background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);}

.white{background-color:#eee;}
.white-text{ color: #eee;}
