/**
*   APP COLORS:
***/
.dark-grey { background-color: #343a40; }
.dark-grey-text { color: #343a40; }

.super-dark { background-color: #21252C; }
.super-dark-text { color: #21252C; }

.inverse-super-dark {color:#eee; background-color:transparent; border: 1px solid #21252C;}
.inverse-super-dark:hover {color:#eee; background-color:#21252C; border: 1px solid transparent;}

.dark { background-color: #2B2D3E; }
.dark-text { color: #2B2D3E; }

.sexy-dark { background-color: #252830; }
.sexy-dark-text { color: #252830; }

.red{background-color:#dc3545;}
.red-text{color:#dc3545;}

.green {background-color: #20c997}
.green-text {color: #20c997}

.blue {background-color: #17a2b8}
.blue-text {color: #17a2b8}

.dark-red {background-color:#c82145;}
.dark-red-text {color:#c82145;}

.inverse-dark-red {color:#c82145; background-color:transparent; border: 1px solid #c82145;}
.inverse-dark-red:hover {color:#eee; background-color:#c82145; border: 1px solid transparent;}

.dark-green {background-color:#17a87d;}
.dark-green-text {color:#17a87d;}

.inverse-dark-green {color:#17a87d; background-color:transparent; border: 1px solid #17a87d;}
.inverse-dark-green:hover {color:#eee; background-color:#17a87d; border: 1px solid transparent;}

.dark-blue {background-color:#0d98ae;}
.dark-blue-text {color:#0d98ae;}

.inverse-dark-blue {color:#0d98ae; background-color:transparent; border: 1px solid #0d98ae;}
.inverse-dark-blue:hover {color:#eee; background-color:#0d98ae; border: 1px solid transparent;}

.apex-red {background-color: #FD6585;}
.apex-red-text {color: #FD6585;}

.apex-red-gradient{background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);}

.white {background-color:#eee;}
.white-text { color: #eee;}
.white-border {border:1px solid #eee;}

.fa-spin { color:#20c997; margin-top: 35vh; } /* Spinner; */

/**
*   General CSS (for the whole application)
**/
body {
  /* Makes font sharper */
  font-feature-settings: "kern","liga","clig","calt";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;


  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  overflow: auto;
}

.App {
  min-height: 100vh;
}

.button {
  padding: 8px 12px;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
}

.active-button {
  background-color: #eee;
  color: #21252C;
  border: 1px solid #eee;
}

.container-padding {
  padding: 10px 5px;
}

.hoverable{transition: 0.2s;}
.hoverable:hover{
  cursor: pointer;
  transform: scale(1.10);
}

h1,h2,h3,h4,h5 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a { text-decoration: none!important; }

/**
*   Other
**/
.chartType {
  color: #444;  /* Ändras denna ändras färgen när man "hoverar" på ett värde i grafen */
}

#PieChart .apexcharts-legend-text, #LineChart .apexcharts-legend-text{
  color: #eee!important;
}

#gameinfo {
  background-color: #343a40;
  border: 3px solid #252830;
  border-radius: 5px;
  height: 85vh;
  overflow: auto;
  padding: 10px;
}

#chart {
  margin: 0!important;
  padding: 0!important;
}
#chartContainer {
  height: 45vh;
  background-color: #252830;
  color: #444;
}

#otherGameInformation {
  margin-top: 10px;
  color: #17a87d;
}

hr {
  background-color: #787878;
  width: 90%;
}

#typeOfChartForm {
  color: #eee;
}

.radiobox {
  margin-top: 20px;
  font-size: 20px;
}

#gameRow {
  min-height: 20vh;
  margin: 60px 0px 0px 20px;
  border: 3px solid #343a40;
  border-radius: 10px;
  text-align: center;
}

#gameRow .table-filter tr td:nth-child(2) { width: 300px; }