.accounts-dialog {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #343a40;
  border: 1px solid #20c997;
  color:#eee;
}

.accounts-dialog input {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #444;
}

.login-close-text, .additional-link {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#20c997;
}

#login-username-label,#login-password-label, #login-password-again-label {font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;}

#login-buttons .login-button, .accounts-dialog .login-button {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#17a87d;
  background-color:transparent;
  border: 1px solid #17a87d;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
  color:#eee;
  background-color:#17a87d;
  border: 1px solid transparent;
}

#login-buttons {
  display: block;
  position: relative;
  font-size: 14px;
  top: 4px;
}
